body {
    background-color: rgb(35, 139, 139);
    color: white;
    font-size: 25px;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
}

input {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

button {
    position: relative;
    background-color: yellow;
    border: none;
    font-size: 28px;
    color: #ffffff;
    padding: 6px;
    width: 150px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.btn-xam {
    background-color: #9098a9;
}

.btn-xanh {
    background-color: greenyellow;
}

select {
    -webkit-appearance: none;
    padding: 7px 40px 7px 12px;
    width: 20%;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
    padding: 12px 20px 12px 40px;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.data:hover {
    background-color: aqua;
    cursor: pointer;
}

li {
    min-width: 500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.delete-btn {
    background-color: red;
}
